$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";

$primary: #800000;

$custom-colors: (
  "dark-tertiary": #e9e9e9
);

$theme-colors: (
  "primary": $primary,
  "secondary": #6c757d,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #212529
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";
