$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";

$primary: #800000;

$custom-colors: (
    "dark-tertiary": #e9e9e9,
    "red": #9a2a2a,
    "red-shade": #ffd7d7,
    "yellow-shade": #fff1c9,
    "blue-shade": #e6f7f9,
    "green-shade": #e8f5e9,
);

$theme-colors: (
    "primary": $primary,
    "secondary": #6c757d,
    "success": #198754,
    "info": #0dcaf0,
    "warning": #ffc107,
    "danger": #dc3545,
    "light": #f8f9fa,
    "dark": #212529,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

input:focus,
textarea:focus,
select:focus,
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
}
